# La librería Pandas

In [2]:
import pandas as pd

## Paso 1: Cargar los datos

### Crear un DataFrame de pandas

In [6]:
medals_df= pd.read_csv("http://winterolympicsmedals.com/medals.csv")

In [7]:
type(medals_df)

pandas.core.frame.DataFrame

### Análisis exploratorio

Funciones para conocer el contenido del DataFrame.

In [13]:
medals_df.head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [18]:
medals_df.tail(3)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [22]:
medals_df.sample(4)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1430,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
2095,2006,Turin,Skating,Short Track S.,CAN,5000m relay,M,Silver
43,1924,Chamonix,Curling,Curling,SWE,curling,M,Silver
1399,1992,Albertville,Skiing,Alpine Skiing,NOR,giant slalom,M,Bronze

In [23]:
medals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [26]:
medals_df.describe(include="all")

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
count,2311.000000,2311,2311,2311,2311,2311,2311,2311
unique,NaN,17,7,15,45,67,3,3
top,NaN,Turin,Skiing,Speed skating,NOR,individual,M,Gold
freq,NaN,252,1060,455,280,195,1386,774
mean,1980.361748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,22.089091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1924.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1968.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1988.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1998.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2006.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
medals_df["Year"].describe()

count    2311.000000
mean     1980.361748
std        22.089091
min      1924.000000
25%      1968.000000
50%      1988.000000
75%      1998.000000
max      2006.000000
Name: Year, dtype: float64

In [25]:
medals_df["City"].describe()

count      2311
unique       17
top       Turin
freq        252
Name: City, dtype: object

In [29]:
medals_df.shape

(2311, 8)

In [30]:
medals_df.ndim ## es una tabla!

2

In [31]:
medals_df.size ## total de datos (celdas de la tabla)

18488

### Verificaciones
Se hacen para encontrar anomalías (outliers).
Más comunes:
* Nulos
* Duplicados
* Muy grandes
* Muy pequeños
* Valores únicos

### duplicados

In [33]:
medals_df_dup= medals_df.duplicated()

In [34]:
medals_df_dup.shape

(2311,)

In [36]:
medals_df_dup

0       False
1       False
2       False
3       False
4       False
        ...
2306    False
2307    False
2308    False
2309    False
2310    False
Length: 2311, dtype: bool

In [42]:
type(medals_df_dup)

pandas.core.series.Series

In [46]:
medals_df[medals_df_dup]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
227,1948,St. Moritz,Skiing,Alpine Skiing,SUI,downhill,M,Bronze
248,1948,St. Moritz,Skating,Speed skating,USA,500m,M,Silver
370,1956,Cortina d'Ampezzo,Skating,Speed skating,URS,1500m,M,Gold
555,1964,Innsbruck,Skating,Speed skating,URS,500m,M,Silver
678,1968,Grenoble,Skating,Speed skating,USA,500m,W,Silver
679,1968,Grenoble,Skating,Speed skating,USA,500m,W,Silver
1981,2002,Salt Lake City,Skiing,Cross Country S,NOR,10km pursuit,M,Gold

In [47]:
medals_df_dup_all=medals_df.duplicated(keep=False)

In [49]:
medals_df[medals_df_dup_all]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
226,1948,St. Moritz,Skiing,Alpine Skiing,SUI,downhill,M,Bronze
227,1948,St. Moritz,Skiing,Alpine Skiing,SUI,downhill,M,Bronze
247,1948,St. Moritz,Skating,Speed skating,USA,500m,M,Silver
248,1948,St. Moritz,Skating,Speed skating,USA,500m,M,Silver
369,1956,Cortina d'Ampezzo,Skating,Speed skating,URS,1500m,M,Gold
370,1956,Cortina d'Ampezzo,Skating,Speed skating,URS,1500m,M,Gold
554,1964,Innsbruck,Skating,Speed skating,URS,500m,M,Silver
555,1964,Innsbruck,Skating,Speed skating,URS,500m,M,Silver
677,1968,Grenoble,Skating,Speed skating,USA,500m,W,Silver
678,1968,Grenoble,Skating,Speed skating,USA,500m,W,Silver
679,1968,Grenoble,Skating,Speed skating,USA,500m,W,Silver
1980,2002,Salt Lake City,Skiing,Cross Country S,NOR,10km pursuit,M,Gold
1981,2002,Salt Lake City,Skiing,Cross Country S,NOR,10km pursuit,M,Gold

Los datos anteriores no son duplicados, son de casos donde varios atletas han empatado y ganado la misma medalla.

In [50]:
copia1_df= medals_df

In [52]:
copia1_df.drop_duplicates(keep="first", inplace=True)

In [54]:
copia1_df.shape

(2304, 8)

7 registros eliminados! Solo para probar la función de borrado de duplicados.

In [56]:
copia1_df[copia1_df["Year"] == 1968]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
574,1968,Grenoble,Bobsleigh,Bobsleigh,AUT,four-man,M,Silver
575,1968,Grenoble,Luge,Luge,AUT,doubles,X,Silver
576,1968,Grenoble,Luge,Luge,AUT,singles,M,Gold
577,1968,Grenoble,Skating,Figure skating,AUT,individual,M,Gold
578,1968,Grenoble,Skiing,Alpine Skiing,AUT,downhill,W,Bronze
...,...,...,...,...,...,...,...,...
673,1968,Grenoble,Skating,Figure skating,USA,individual,M,Silver
674,1968,Grenoble,Skating,Figure skating,USA,individual,W,Gold
675,1968,Grenoble,Skating,Speed skating,USA,1000m,W,Bronze
676,1968,Grenoble,Skating,Speed skating,USA,500m,M,Silver
677,1968,Grenoble,Skating,Speed skating,USA,500m,W,Silver

In [60]:
copia1_df.loc[ (copia1_df["Year"] == 1968) & (copia1_df["Discipline"]=="Speed skating") & (copia1_df["Event"]=="500m") & (copia1_df["Event gender"]=="W") ]

     Year      City    Sport     Discipline  NOC Event Event gender   Medal
667  1968  Grenoble  Skating  Speed skating  URS  500m            W    Gold
677  1968  Grenoble  Skating  Speed skating  USA  500m            W  Silver

### Valores Únicos

In [62]:
medals_df["Year"].unique()

array([1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972,
       1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006], dtype=int64)

In [63]:
medals_df["City"].unique()

array(['Chamonix', 'St. Moritz', 'Lake Placid', 'Garmisch-Partenkirchen',
       'Oslo', "Cortina d'Ampezzo", 'Squaw Valley', 'Innsbruck',
       'Grenoble', 'Sapporo', 'Sarajevo', 'Calgary', 'Albertville',
       'Lillehammer', 'Nagano', 'Salt Lake City', 'Turin'], dtype=object)

In [64]:
medals_df["Sport"].unique()

array(['Skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon', 'Skiing',
       'Curling', 'Luge'], dtype=object)

In [65]:
medals_df["Medal"].unique()

array(['Silver', 'Gold', 'Bronze'], dtype=object)

### Valores Nulos

Ojo: en este DataFrame NO HAY valores nulos, pero erevisaremos las funciones para encontrar valores nulos.

In [68]:
df_null=medals_df.isnull()
df_null

       Year   City  Sport  Discipline    NOC  Event  Event gender  Medal
0     False  False  False       False  False  False         False  False
1     False  False  False       False  False  False         False  False
2     False  False  False       False  False  False         False  False
3     False  False  False       False  False  False         False  False
4     False  False  False       False  False  False         False  False
...     ...    ...    ...         ...    ...    ...           ...    ...
2306  False  False  False       False  False  False         False  False
2307  False  False  False       False  False  False         False  False
2308  False  False  False       False  False  False         False  False
2309  False  False  False       False  False  False         False  False
2310  False  False  False       False  False  False         False  False

[2304 rows x 8 columns]

In [71]:
medals_df[df_null["Year"] == True]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [72]:
medals_df[df_null["City"] == True]

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [73]:
medals_df.isnull().sum()

Year            0
City            0
Sport           0
Discipline      0
NOC             0
Event           0
Event gender    0
Medal           0
dtype: int64

In [74]:
medals_df.dropna()
medals_df.shape

(2304, 8)

In [75]:
medals_df.dropna(how="all") ## eliminar filas y columnas que contengan solo valores nulos
medals_df.shape

(2304, 8)